<launch>
	
  	<!--- Run optimization test node -->
   	<node pkg="teb_local_planner" type="test_optim_node" name="test_optim_node" output="screen" launch-prefix="xterm -e gdb -ex run --args">
		<rosparam file="$(find teb_local_planner)/cfg/carlike_teb_local_planner_params.yaml" command="load" />
	</node>

  	<!-- Publish Obstacles-->
  	<node name="publish_parking_boundaries" pkg="teb_local_planner" type="publish_parking_boundaries.py" output="screen" />

  	<!-- Publish start_end_pose-->
  	<node name="publish_start_end_pose" pkg="teb_local_planner" type="publish_start_end_pose.py" output="screen" />

  	<!-- Visualize feedback-->
  	<node name="publish_feedback" pkg="teb_local_planner" type="publish_feedback.py" output="screen" />

	<!--  ****** Maps *****  -->
	<!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find global_planner)/maps/parallel_parking.yaml" output="screen">
                <param name="frame_id" value="map"/>
	</node> -->

  	<!-- RVIZ -->
  	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find teb_local_planner)/cfg/rviz_test_optim.rviz" launch-prefix="xterm -e gdb -ex run --args"/>

</launch>

